# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.venv/
venv/

# Django
db.sqlite3
media/
staticfiles/
seed.sql

# Node / React
node_modules/
dist/
build/

# Environment files
.env
.env.*

# Local DB backups
backups/

# OS / Editor
.DS_Store
.idea/
.vscode/

docs/